---
# Template to render for host nginx (copied to conf.d)
nginx_conf_template: templates/expensehub.conf.j2
nginx_conf_dir: /etc/nginx/conf.d
nginx_conf_filename: expensehub.conf

# Reverse proxy settings (normally set by Jenkins)
nginx_server_name: example.com
nginx_listen_port: 80
frontend_port: 3000
backend_port: 5000
db_port: 27017
